:root {
  --primary-color: #1ba0c2;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 96px;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  margin: 10px;
  font-size: 18px;
  line-height: 1.5;
}
a {
  display: block;
  text-align: center;
  color: var(--primary-color);
}
.contact a {
  text-decoration: none;
  font-size: 28px;
}
.contact a:hover {
  text-decoration: underline;
}
.contact h2 {
  font-size: 48px;
}
.about-paragraph {
  margin: 30px;
}
